.container{
    background-image: url("../img/Scene-20.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: rgb(15, 15, 15);
    font-weight: 700 !important;
  }
  .text-center{
    font-size: 4rem;
    font-weight: 800;
  }
  .control-label{
    font-weight: 700;
    font-size: 1.8rem;
  }
  .log-btn{
    font-size: 1.8rem;
    font-weight: 700;
    transition: background-color 300ms ease-in-out;
  }
  .log-btn:hover{
    background-color: #da5647;
    color:#fff;
  }